@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;600;700&display=swap');
:root {
  font-family: "Red Hat Text", sans-serif;

  
}
@theme {
  /* Brand Colors */
  --color-red-custom: hsl(14, 86%, 42%);
  --color-green-custom: hsl(159, 69%, 38%);

  /* Rose Palette */
  --color-rose-50: hsl(20, 50%, 98%);
  --color-rose-100: hsl(13, 31%, 94%);
  --color-rose-300: hsl(14, 25%, 72%);
  --color-rose-400: hsl(7, 20%, 60%);
  --color-rose-500: hsl(12, 20%, 44%);
  --color-rose-900: hsl(14, 65%, 9%);
}
body {
  font-family: var(--font-red-hat);
}
button {
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
